.btn-wrapper {
  padding: 10px;
  border-radius: 4px;
}

.img-wrapper img {
  width: 100px;
  height: 100px;

}

.cart-wrapper {
  border: 1px solid #ccc;
  height: 145px;
  width: 500px;
  text-align: center;
  padding: 10px;
}

.item {
  /* float: left; */
}

.add-to-cart {
  height: 100px;
  width: 100px;
}

.add-to-cart img {
  height: 50px;
  width: 50px;
}